<!DOCTYPE html>
<html>
<head>
	<title> Cardio</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/my_style.css')}}">
</head>
<body>
<ul>
  <li><a href="http://localhost:5000/">Take quiz again!</a></li>
  <li><a href="http://localhost:5000/page1">Weight training</a></li>
  <li><a href="http://localhost:5000/page2">Calisthenics</a></li>
  <li><a href="http://localhost:5000/page3">Cardio</a></li>
</ul>
<h1 id="page3">Cardio</h1>

<h4>
Aerobic exercise (also known as cardio) is physical exercise of low to high intensity that depends primarily on the aerobic energy-generating process.<br> 

Aerobic literally means "relating to, involving, or requiring free oxygen", and refers to the use of oxygen to adequately meet energy demands during exercise via aerobic metabolism.<br>
Generally, light-to-moderate intensity activities that are sufficiently supported by aerobic metabolism can be performed for extended periods of time.<br> <br>

 Running (moderate pace) <br> <br>
 Running at a steady, moderate pace is a sure way to burn fat and calories, but it’s not the most economical way to build or even maintain muscle.<br>
 The best way to burn fat on a long run: If you’re running on a treadmill, set the incline to 2-3% to simulate running outside, suggests Adams. “This burns more calories and may actually be easier on the knees.” If running feels boring for you, try different routes in your neighborhood or join a local running club. Running with a partner or group can make the miles go by much easier.<br> 
 <br> <br>
<div id="running"> 
<img src="https://greatist.com/sites/default/files/running.jpg" style="width: 1000px; height: 500px;">
</div>
<br><br>
 Jumping Rope <br> <br>
 There’s a reason the jump rope is a mainstay in a boxer’s training regimen: it’s cheap, easy to do, increases foot speed, and burns a ton of calories. Think of your favorite boxers, wrestlers, and fighters—they all jump rope. “Jumping rope not only enhances your footwork, shoulder strength, and coordination, but also simulates sprinting, allowing you to burn as much as 500 calories in just 30 minutes,” says Ben Boudro, C.S.C.S., owner of Xceleration Fitness in Auburn Hills, MI.. <br> <br>
The best way to burn fat with a jump rope: While very few people can jump rope for 30 minutes straight, it's best to do intervals of fast and slow jumps to keep you going. Can’t do that very well? Jump as fast as you can for one minute, then rest for 20-30 seconds. Repeat until you’re done. If you’re a frequent traveler, throw a jump rope in your suitcase for a great workout without ever having to leave the hotel room.
div id="running"> 
<center> <img src="https://cdn-mf0.heartyhosting.com/sites/mensfitness.com/files/101-best-workouts-the-best-jump-rope-workout-3.jpg" style="width: 600px; height: 500px;"> </center>
</div>
</h4>
</body>
</html>